@charset "UTF-8";
@import "bootstrap";

$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  // display: none;
  // font: 100% $font-stack;
  color: $primary-color;
  margin: 0.2em;
}

.navbar-static-top {
  // margin-bottom: -19px;
  // border: dashed 1px green;
  margin: 0 0 2px 0;
}
.navbar {
  .navbar-brand {
    // font-weight: normal;
    // font-size: 1.4em;
    // padding: 0.7em 1.0em 0 1em;
    img {
      float: left;
      height: 40px;
      padding: 0;
      margin: 0;
    }
  }
}

.Map {
  // border: dashed 1px green;
  // margin: 50px 0 0 202px;
  margin: 3px 0 0 202px;
}

.Filter {
  // border: dashed 1px green;
  position: absolute;
  top: 56px;
  background-color: DarkSlateBlue;
  padding: 1em;
  color: white;
  div {
    margin: 0.6em 0 1em 0;
  }
  select {
    // margin: .2em 0;
    width: 100%;
  }
  a,
  submit,
  select,
  input {
    color: black;
  }
  .relp-block {
    margin: 0.1em 0 0em 0;
    color: white;
  }
  input {
    margin: 0;
  }
  button {
    margin: 2em 0;
  }
}

.Info {
  position: absolute;
  top: 56px;
  left: 205px;
  padding: 10px;
  color: white;
  background-color: SlateBlue;
  font-size: 22px;
}

.About {
  padding: 0 2em;
}

.Auth {
  border: solid 1px #999;
  margin: 1em auto;
  padding: 1em 1em 1.5em 1em;
  width: 280px;
  button {
    margin: 1.0em 0 0 0;
    width: 100%;
  }
}

.Queries {
  margin: 0 0 0 2em;
  a {
    padding: 0 0.4em 0 0;
  }
}
